.list-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 15px;
    margin-bottom: 75px;
    background: #ffffff;
    position: relative; /* 让按钮定位在右上角 */
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.lists-container{
    justify-content: center;
    align-items: center;
    gap:30%
}

.list {
    height: 550px; /* 限制高度 */
    overflow-y: auto; /* 让 MatchCard 只在这个框里滚动 */
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}